header {
    font-family: poppins light;
}
* {
    font-family: poppins light;
    color: white;
    margin: 0;
    margin: 0;
    padding: 0;

}
.heart p{
    font-size: 40px;
    
}
.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 5px 10px #262626;
}

body{
    background-image: linear-gradient(45deg,rgb(255, 8, 181),rgb(255, 153, 0));
}

header,
footer {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(45deg,rgb(251, 0, 255),rgb(255, 221, 0));
    color: white;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
  }

h1,h5,p,a,
h2 {
    text-align: center;
}

img {
    display: block;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

a {
    display:flex;
    
    text-align: center;
    align-items: center;
}